body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    margin: 0;
    font-family:monospace;
}

.clock-container {
    background-color: #44413c;
    border: 5px solid #0f0e0f;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clock {
    font-size: 3em;
    color: #ff4500;
}