body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #18191a;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.clock-container {
    background-color: #535250;
    border: 5px solid #9c9e9e;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 410px;
}

#clock {
    font-size: 4em;
    color: #dfd8d6;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: #333535;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #707272;
}

#alarmMessage {
    margin-top: 20px;
    color: #dfd8d6;
    font-size: 1.2em;
}